[Email]
Host   = imap.my-cinema.de
User   = dcp@my-cinema.de
Passwd = secret_password
Basepath = /Base/path/to/store
Notify = download@my-cinema.de

[Disk]
Features = /srv/path/Features
Trailers = /srv/path/Trailers
threshold = 80
